services:
  google-cloud-run-webserver:
    image: google-cloud-run-webserver:0.0
    container_name: google-cloud-run-webserver
    pull_policy: build
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - 8080:8080
